@import "tailwindcss";

body.modal-open {
    overflow: hidden;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  .modal-content {
    background-color: #1f2937;
    border-radius: 0.5rem;
    padding: 1.5rem;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 51;
    position: relative;
  }