.blob-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

.blob-main {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: url("#blob");
    overflow: hidden;
    background: transparent;
    pointer-events: none;
}

.blob-main > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    background: #3b82f6;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
    opacity: 0.3;
}

.blob-main > div:nth-child(1) {
    width: 40px;
    height: 40px;
}

.blob-main > div:nth-child(2) {
    width: 100px;
    height: 100px;
}

.blob-main > div:nth-child(3) {
    width: 60px;
    height: 60px;
}

.blob-main > div::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
}